
  <router-outlet></router-outlet>





<!-- Post detail page -->

<!-- <div class="sidenav">
  <a href="#Menu" class="mt-5">Menu</a>
  <a href="#Post">Post</a>
  <a href="#Album">Album</a>
</div>

<div class="main">
  <div class="card shadow content_padding">  
    <h5>to make a blinded choice to reject or provident to task</h5>
    <h6>because he receives and accepts the accepted consequences that are unencumbered and when he finds annoyance</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>who is to be</h5>
    <h6>it is the time of life to pursue the things that are to be blamed for the pain of a blessed one, nor avoid the pleasures of flattery, nor any further annoyance to reject</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>abuse her as an exercise in who she or she is</h5>
    <h6>and the just, but blinded by the pleasure of every right to choose, or for the pleasure of the pains or the accusers, who can bear the annoyances of his hatred and labor and desire</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>he is blinded</h5>
    <h6>to obtain any pleasure by rejecting one's love and often taking care of things is a fault\nobody is bound by this advantage, they do not know the thing and pain itself is right\nobody wants that pleasure of things</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>know how to hate</h5>
    <h6>to be rejected is to seek pardon but to be rejected or to escape</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>I open them for my great sorrow</h5>
    <h6>so that no one will reject the body of these women, they foresee nothing to follow, nudge us some uneasiness, and no one will find fault with those who accuse us, which by pleasure he wills pain and pain and uneasiness</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>great but easy</h5>
    <h6>the pain may please some people in the life where it is important for anyone who is anyone whither no one will ever drive back, to receive them because they want to follow them but which they are</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>pain is the actual pain</h5>
    <h6>I will open the pain to those worthy of being easily accepted by some minds who are able to be able to welcome the great ancestors when there has been no such thing as the pain of the pleasures or the life's advantage</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>and it is true for those who praise it</h5>
    <h6>the choices we reject, when blinded by the annoyances, will come to pass, not least those who fall into pleasures will be happy in him, or those who do not enjoy pleasures as well as those who fall into the nut of the mind's advantage</h6>
  </div><br>
  <div class="card shadow content_padding">  
    <h5>choice that's annoying for him</h5>
    <h6>in which manner and unencumbered with the duties or great sorrows which must be repudiated, unless there be truly any pardon which but we accuse the error of the truth"</h6>
  </div><br>
</div> -->






<!-- Album -->


<!-- <div class="sidenav">
  <a href="#Menu" class="mt-5">Menu</a>
  <a href="#Post">Post</a>
  <a href="#Album">Album</a>
</div>

<div class="main">
  <div class="row search">
    <input type="text">
  </div>
  <div class="row image_margin">
    <img src="https://via.placeholder.com/600/92c952" class="image_size left_margin">
    <img src="https://via.placeholder.com/600/771796" class="image_size left_margin">
    <img src="https://via.placeholder.com/600/24f355" class="image_size left_margin">
  </div>
  <div class="row image_margin">
    <img src="" class="image_size left_margin">
    <img src="" class="image_size left_margin">
    <img src="" class="image_size left_margin">
  </div>
  <div class="row image_margin">
    <img src="" class="image_size left_margin">
    <img src="" class="image_size left_margin">
    <img src="" class="image_size left_margin">
  </div>
  <div class="row image_margin">
    <img src="" class="image_size left_margin">
    <img src="" class="image_size left_margin">
    <img src="" class="image_size left_margin">
  </div>
</div> -->
